body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
}

h1 {
  margin-top: 50px;
}

form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-size: 18px;
  margin-bottom: 10px;
}

input {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.submit {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.submit:hover {
  background-color: #3E8E41;
}

p {
  margin-top: 20px;
  font-size: 18px;
  color: red;
}

a {
  display: inline-block;
  margin-top: 20px;
  font-size: 18px;
  color: #4CAF50;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
